{
    "extends": "airbnb/legacy",
    "rules": {
        "strict": [2, "global"],
        "no-multi-spaces": 0,
        "no-use-before-define": 0,
        "no-console": 0,
        "padded-blocks": 0,
        "no-else-return": 0
    },
    "env": {
        "node": true
    }
    "globals": {
        "global1": true,    // you're allowed to overwrite this one in your code
        "GLOBAL2": false    // ESLint will complain if you try to overwrite this constant
    }
}
