.DS_Store
tags
.netrwhist
cache.db
history.cmdline
history.search
karabiner/.config/karabiner/automatic_backups/
.zcompdump
mpd.db
mpd.pid
mpdstate
mpv/.config/mpv/watch_later/
mpd/.mpd/playlists/*
*.log
.mypy_cache
.zcompcache
.zcompdump*
zsh/.config/zsh/.zsh_sessions/
/albert/.config/albert/core.db
/albert/.config/albert/last_used_version
/albert/.config/albert/org.albert.extension.snippets/
/emacs/.config/emacs/auto-save-list/
/emacs/.config/emacs/projects
/emacs/.config/emacs/request/
/emacs/.config/emacs/straight/
/emacs/.config/emacs/transient/
/emacs/.config/emacs/var/
/emacs/.config/emacs/eln-cache/
/emacs/.config/emacs/elpa/
/emacs/.config/emacs/elpaca/
/emacs/.config/emacs/history
/emacs/.config/emacs/recentf
/emacs/.config/emacs/tree-sitter/
/emacs/.config/emacs/url/
/scripts/.local/bin/kmonad
/chatgpt/.chatgpt-cli/history/
/emacs/.config/emacs/custom-config.el
/emacs/.config/emacs/eshell/history
/emacs/.config/emacs/awesome-chatgpt-prompts-cache
/emacs/.config/emacs/.chatgpt-shell.el
/emacs/.config/emacs/chatgpt/
/aichat/Library/Application Support/aichat/rags/
/aichat/Library/Application Support/aichat/*.md
/emacs/.config/emacs/devdocs-browser/
/emacs/.config/emacs/devdocs/
/emacs/.config/emacs/eshell/lastdir
/emacs/.config/emacs/harpoon/
/emacs/.config/emacs/remember-notes
