.DS_Store
tags
.netrwhist
cache.db
history.cmdline
history.search
karabiner/.config/karabiner/automatic_backups/
.zcompdump
mpd.db
mpd.pid
mpdstate
mpv/.config/mpv/watch_later/
mpd/.mpd/playlists/*
*.log
.mypy_cache
