[submodule "zsh/z"]
	path = zsh/.zsh-custom/plugins/z
	url = https://github.com/rupa/z
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/.zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
