snippet wh "Max width and height"
  width: 100%;
  height: 100%;
endsnippet

snippet bc "Max width and height"
  background-color: $1;
endsnippet


snippet media "Media querries"
@media only screen and (max-width: 600px) {
  $1
}
endsnippet

snippet df "Flex"
  display: flex;
  justify-content: center;
  align-items: center;
endsnippet
