snippet p "python3 print" b
print('$1:', $1)
endsnippet

snippet pr "python3 print" b
print($1)
endsnippet

snippet pp "python3 print" b
print($1)
endsnippet

snippet f "f stings"
f"$1"
endsnippet 

snippet ipdb "ipdb"
__import__('ipdb').set_trace()
endsnippet

snippet pudb "pudb"
__import__('pudb').set_trace()
endsnippet
